<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Person Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='dropzone.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="#">Tech Celebrity Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col card-wrapper" data-player="elon_musk">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/elon_musk.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Elon Musk</h4>
                    </div>
                </div>
            </div>            
            <div class="col card-wrapper" data-player="jeff_bezoz">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static', filename='images/jeff_bezoz.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Jeff Bezoz</h4>
                        </div>
                    </div>
            </div>            
            <div class="col card-wrapper" data-player="larry_ellison">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="{{ url_for('static', filename='images/larry_ellison.jpg') }}" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Larry Ellison</h4>
                        </div>
                    </div>
            </div>          

            <div class="col card-wrapper" data-player="marissa_mayer">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/marissa_mayer.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Marissa Mayer</h4>
                    </div>
                </div>
            </div>      

            <div class="col card-wrapper" data-player="satya_nandella">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/satya_nandella.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Satya Nandella</h4>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="steve_jobs">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/steve_jobs.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Steve Jobs</h4>
                    </div>
                </div>
            </div>

            <div class="col card-wrapper" data-player="sundar_pichai">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="{{ url_for('static', filename='images/sundar_pichai.jpg') }}" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Sundar Pichai</h4>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action="/file-upload" class="dropzone" id="dropzone">
                            <div class="dz-message needsclick">
                                <img src="./images/upload.png" width="50vw" height="50vw"><br>
                                <span class="note needsclick">Drop files here or click to upload</span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 mx-auto">
                        <button id="submitBtn" type="button" class="btn btn-success">Classify</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-8 error" id="error" >
                <p>Can't classify image. Classifier was not able to detect face and two eyes properly</p>    
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                        <tr>
                            <th>Tech Person</th>
                            <th>Probability Score</th>
                        </tr>
                        <tr>
                            <td>Elon Musk</td>
                            <td id="score_elon_musk"></td>
                        </tr>
                        <tr>
                            <td>Jeff Bezoz</td>
                            <td id="score_jeff_bezoz"></td>
                        </tr>
                        <tr>
                            <td>Larry Ellison</td>
                            <td id="score_larry_ellison"></td>
                        </tr>
                        <tr>
                            <td>Marissa Mayer</td>
                            <td id="score_marissa_mayer"></td>
                        </tr>
                        <tr>
                            <td>Satya Nandella</td>
                            <td id="score_satya_nandella"></td>
                        </tr>
                        <tr>
                            <td>Steve Jobs</td>
                            <td id="score_steve_jobs"></td>
                        </tr>
                        <tr>
                            <td>Sundar Pichai</td>
                            <td id="score_sundar_pichai"></td>
                        </tr>
                </table>
            </div>
            
        </div>

    </div>

</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='dropzone.min.js') }}"></script>
<script src="{{ url_for('static', filename='app.js') }}"></script>
</html>